.list {
  max-height: 300px;
  overflow-y: auto;
  .item {
    color: rgb(24, 8, 68);
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .margin-bottom {
    margin-bottom: 15px;
  }
}
