.success-btn {
  background-color: yellow;
  color: rgb(10, 73, 102);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: $shadow;
  border-radius: 2px;
  outline: none;
}
