* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .app-list-form {
    align-self: center;
    margin-top: 245px;
    width: 500px;
  }
}

@import "variables";
@import "mixins";
@import "../components/index";
@import "./layout";
@import "../shared/index";
